services:
  unit-tests:
    image: hrprojectmanagement-test:latest
    build:
      context: .
      dockerfile: Dockerfile.test
    command: ["HR.ProjectManagement.UnitTests/HR.ProjectManagement.UnitTests.csproj", "--logger", "trx;LogFileName=unit-test-results.trx", "--results-directory", "/test-results"]
    volumes:
      - ./test-results:/test-results
    environment:
      - ASPNETCORE_ENVIRONMENT=Test

  integration-tests:
    image: hrprojectmanagement-test:latest
    build:
      context: .
      dockerfile: Dockerfile.test
    command: ["HR.ProjectManagement.Persistence.IntegrationTests/HR.ProjectManagement.Persistence.IntegrationTests.csproj", "--logger", "trx;LogFileName=integration-test-results.trx", "--results-directory", "/test-results"]
    volumes:
      - ./test-results:/test-results
    environment:
      - ASPNETCORE_ENVIRONMENT=Test

  all-tests:
    image: hrprojectmanagement-test:latest
    build:
      context: .
      dockerfile: Dockerfile.test
    command: ["--logger", "trx;LogFileName=all-test-results.trx", "--results-directory", "/test-results"]
    volumes:
      - ./test-results:/test-results
    environment:
      - ASPNETCORE_ENVIRONMENT=Test
