name: Deploy to Production

on:
  push:
    branches: [ master ]
    paths-ignore:
      - '**.md'
      - '.gitignore'

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production

    steps:
    - uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Registry
      uses: docker/login-action@v3
      with:
        registry: ${{ secrets.DOCKER_REGISTRY }}
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push
      uses: docker/build-push-action@v5
      with:
        context: .
        file: HR.ProjectManagement/Dockerfile
        push: true
        tags: ${{ secrets.DOCKER_REGISTRY }}/hrprojectmanagement:latest
